.header .container {
    display: flex;
    justify-content: flex-end;
}

.header .icon {
    justify-self: flex-end;
}

.section__search-form .container {
    padding-inline: 1.5rem;
}

.search-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;

    #search-form__input {
        /* grid-column: span 4; */
        grid-column: span 3;
    }

    .search-form__btn {
        padding: 0.5rem;
        /* display: none; */
        grid-column: span 1;
    }

    @media only screen and (min-width: 45rem) {
        #search-form__input {
            grid-column: span 3;
        }

        .search-form__btn {
            display: block;
            grid-column: span 1;
        }
    }
}

#filters {
    grid-column: span 4;

    display: flex;
    gap: 0.5rem;

    background-color: var(--color-primary-300);
    border-color: var(--color-primary-300);
    color: #fff;
}

.filter-btn {
    padding: 0.25rem 0.5rem;
}

.filter-btn.active {
    border: 0.0125rem solid var(--color-white);
}
